body{
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}

#lyric{
    background-color: rgb(223, 244, 242);
    
}

@media screen and (max-width: 692px) {
    #img-logo{
        width: 50% !important;
    }
    .previewBtn{
        width: 150px !important;
    }
    .row{
        display: block !important;
    }
    .col{
        margin-bottom: 5px !important;
    }
  }